<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Downloader</title>
    </head>

    <body>
        <h1>Image Downloader</h1>
        <form action="/upload" method="post">
            <label for="urls">Enter Image URLs (separated by spaces or new lines)</label><br>
            <textarea id="urls" name="urls" rows="5" cols="50"></textarea><br><br>
            <input type="submit" value="Download Images">
        </form>
    </body>

</html>